* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header .navbar {
    margin-bottom: 5px;
} */

main .container-fluid h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    background-color: black;
    margin-top: 3px;

}

header .navbar .container-fluid .navbar-brand {
    font-size: 30px;
}

header .navbar .container-fluid .navbar-brand span {
    color: #FF7F11;
}

.btn-outline-success {
    color: #FF7F11;
    border-color: #FF7F11;
}

.btn-comprar {
    background-color: #FF7F11;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-comprar:hover {
    background-color: #AFCBFF
} 

.card-titulo {
    font-size: 10px;

}

.tipo-consola {
    font-size: 10px;
}

.btn-filtro {
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-filtro:hover {
    color: #FF7F11;

}